/* These are tags/element based style */
body
{
  background-color: #fff5ea;
  margin: 0;
}
table
{
  background-color: #d6d2c4;
  border-top: 5px;
  border-top-color: red;
  border-bottom: 5px;
  border-bottom-color: red;
  

}
label
{
  font-family: inherit;
  color: #5b5b5b;
  text-decoration: underline;
  font-size: 18px;
}
h1
{
  font-family: verdana;
  text-decoration: underline;
  color: #350b40;
  font-size: 40px;
  font-style: italic;
}
